<a href="https://colab.research.google.com/github/jaasielsoto/CompyProg2022G1157/blob/main/Fundamentos2_CyP_1157.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Fecha 04/11/2021

# Tipos de datos etructurados de python 
1. Listas
2. Tuplas
3. Diccionarios
4. Coonjuntos (opcional)

#Listas
- Tipo de datos que agrupa variables o valores.
- Estructura secuencial (indexados empezando por 0)
- Se declara de dos formas#
    - usando []
    - usando list()
- Puede contener tipos de datos diversos (En otros lenguajes de programación eso no es posible de forma directa)
- Los elementos internos se seleccionan con []
- Soporta slicing
- SON MUTABLES 
- GENERADORES [var for x in range(10)]
- al ser una clase contiene muchos metodos utiles

In [ ]:
# .append() agerga a una lista vacia lo que ponga en los parentesis
numeros = [10, 5, 2, 3, 1]
print(numeros)

numeros2 = list()
numeros2.append(10)
numeros2.append(5)
numeros2.append(2)
numeros2.append(3)
numeros2.append(1)
print(numeros2)

# mutabilidad  se puede cambiar datos 
numeros [2]= 20
print(numeros) 

numeros [-1]= 33 # funciona con indexado negativo -1 o 4
print(numeros) 
numeros.append(88)

[10, 5, 2, 3, 1]
[10, 5, 2, 3, 1]
[10, 5, 20, 3, 1]
[10, 5, 20, 3, 33]

In [ ]:
# tipos diversos

cosas = [12, 2 ,True, "Jose", 1.57, ["pera", "kiwi","uva"]]
print(cosas)
print(cosas [1])
print(cosas[4])
print(cosas[5])
print(cosas[5][1]) # el primer [] muestra el valor de la lista y el segundo tambien muetra el valor dentro de la otra lista 
print(cosas[3][1:3:]) #slicing con el []
cosas[3] = cosas[3].upper() # mayusculas es caracteristica de la clase string
print(cosas)

[12, 2, True, 'Jose', 1.57, ['pera', 'kiwi', 'uva']]
2
1.57
['pera', 'kiwi', 'uva']
kiwi
os
[12, 2, True, 'JOSE', 1.57, ['pera', 'kiwi', 'uva']]

In [ ]:
numeros = [1,2,3,4,5,6,7,8,9,10,11]
print(numeros)
#slicing
#1.- 4 al 8
print(numeros[-8:-3:]) #slicing normal print(numeros[3:8:])
print(numeros[3:8:])
#2.- [9,10]
print(numeros[8:10:])
print(numeros[-3:-1:])

#3.- imprimir la lista en orden inverso [11,10,9,etc,1]
print(numeros[::-1]) # organiza los numeros comenzando por el primero de derecha a izquierda hasta el utlimo

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]
[4, 5, 6, 7, 8]
[4, 5, 6, 7, 8]
[9, 10]
[9, 10]
[11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [ ]:
# Crear una lista con un generador 
numeros = [x*3 for x in range(101)] # es hata el 101 por el tope 
print(numeros)
# cualquier cambio que le hagamos a la primera x sumar restar o multiplicar solo es a esa

[0, 3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48, 51, 54, 57, 60, 63, 66, 69, 72, 75, 78, 81, 84, 87, 90, 93, 96, 99, 102, 105, 108, 111, 114, 117, 120, 123, 126, 129, 132, 135, 138, 141, 144, 147, 150, 153, 156, 159, 162, 165, 168, 171, 174, 177, 180, 183, 186, 189, 192, 195, 198, 201, 204, 207, 210, 213, 216, 219, 222, 225, 228, 231, 234, 237, 240, 243, 246, 249, 252, 255, 258, 261, 264, 267, 270, 273, 276, 279, 282, 285, 288, 291, 294, 297, 300]

# Funcion range()
Tiene los mismos componentes que slicing 
ini, stop, incremento
range(1,101) es lo mismo que el ejemplo 
range(50,101)

In [ ]:
numeros = [x for x in range(50,101,5)]# ese 1 es el incremento 
print(numeros)

[50, 55, 60, 65, 70, 75, 80, 85, 90, 95, 100]

# metodos disponibles de las listas

In [ ]:
dir(list) # solo usar los que no tienen _

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [ ]:
numeros = [4,1,15,8,22,34,50]
print(numeros)
numeros.append(99)
print(numeros)
#numeros.clear() hacerlos con este metodo
#numeros = []
print(numeros)

# solamente hace referencia a la lista pero sigue siendo afectada 
frutas = ["uvas","kiwi","manzana"]
copia = frutas 
print(frutas)
print(copia)
frutas.append("naranja")
print(frutas)
print(copia)

# esta ya hace una copia independiente de la lista original esta ya no es afectada 
colores = ["rojo", "azul", "blanco"]
copia2 = colores.copy()
print(colores)
print(copia2)
colores.append("verde")
print(colores)
print(copia2)


print("Numero de veces que aparece el 15= ", numeros.count(15))

[4, 1, 15, 8, 22, 34, 50]
[4, 1, 15, 8, 22, 34, 50, 99]
[4, 1, 15, 8, 22, 34, 50, 99]
['uvas', 'kiwi', 'manzana']
['uvas', 'kiwi', 'manzana']
['uvas', 'kiwi', 'manzana', 'naranja']
['uvas', 'kiwi', 'manzana', 'naranja']
['rojo', 'azul', 'blanco']
['rojo', 'azul', 'blanco']
['rojo', 'azul', 'blanco', 'verde']
['rojo', 'azul', 'blanco']
Numero de veces que aparece el 15=  1

In [ ]:
# extend

nombres = ["Jose", "Pedro", "Karina"]
otrosNombres = ["Josue", "Diana", "Dalia"]
print(nombres)
print(otrosNombres)

nombres = nombres + otrosNombres
print(nombres)
print(otrosNombres)

# lo mismo con el metodo extend

otrosNombres.extend(["Jesus","Maria","Jose"])
print(otrosNombres)
print("jesus esta en la posición:", otrosNombres.index("Jesus"))
otrosNombres.insert(4, "Espiritu santo")
print(otrosNombres)

#pop quita el ultimo valor y te lo da y lo registra en la otra variable 

resultado = otrosNombres.pop()
print(otrosNombres)
print(resultado)

['Jose', 'Pedro', 'Karina']
['Josue', 'Diana', 'Dalia']
['Jose', 'Pedro', 'Karina', 'Josue', 'Diana', 'Dalia']
['Josue', 'Diana', 'Dalia']
['Josue', 'Diana', 'Dalia', 'Jesus', 'Maria', 'Jose']
jesus esta en la posición: 3
['Josue', 'Diana', 'Dalia', 'Jesus', 'Espiritu santo', 'Maria', 'Jose']
['Josue', 'Diana', 'Dalia', 'Jesus', 'Espiritu santo', 'Maria']
Jose

# Fecha 09/11/2021

# Tuplas

### Caracteristicas de las tuplas

- Datos agrupados
- Se declara usando #
    - ()
    - tuple()
- Estructura secuencial, indexada a partir de 0.
- Pueden tener de 0 a n elementos. 
- No SON MUTABLES (No se puede: Eliminar y/o cambiar).
- Son buenas para almacenar información de consulta.
- Pueden almacenar informacion de diferentes tips de datos (igual que las listas solo que no se puede cambiar la información).
- Pueden estar anidadas. 
- Tienen metodos útiles.
- es similar a la lista solo que estas no se pueden editar

In [ ]:
info = ("juan23", "dios1234", "123.232.1.12") 
print(info)
print(info [1])
#info[1] = "patito" no se puede editar o modificar 
# es similar a la lista solo que estas no se pueden editar

numeros= (0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15)
print(numeros)
print(numeros[5:11:1]) #permite slicing 

cosas= (info , numeros)
print(cosas)
print(cosas[1][5:11:1]) #funciona igual que las listas con el slicing de dos listas
print(cosas[0][2][4:7]) #el 0 es para la tupla 0, el 2 es el segundo elemento de la tupla contando desde 0  y el slicin manda el 232 con 4:7
print(cosas[0][2][-8:-5])

('juan23', 'dios1234', '123.232.1.12')
dios1234
(0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15)
(5, 6, 7, 8, 9, 10)
(('juan23', 'dios1234', '123.232.1.12'), (0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15))
(5, 6, 7, 8, 9, 10)
232
232

# Metodos de las tuplas 
Son los mismos de las listas pero los que no involucren mutabilidad
ya que estas no se pueden modificar 
- 'count'
- 'index'

In [ ]:
dir(tuple)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

In [ ]:
info = ("juan23", "dios1234", "123.232.1.12") 
print(info)
print("Cuantas veces aparece juan23=", info.count("juan23"))
info.index

('juan23', 'dios1234', '123.232.1.12')
Cuantas veces aparece juan23= 1

# Diccionarios
### Características de los diccionarios

- Agrupan datos pero de forma no lineal.
- se declaran:
  - {}
  - dict()
- Formado por pares del tipo llave:valor, donde: 
  - llave es de tipo string (siempre)
  - valor pued ser de cualquier tipo de datos, incluyendo los diccionarios.

- Se seleccionan con la llave de la forma:
["id_llave"]
- Son mutables 
- Son anidables 
- Son equivalentes al tipo de dato JSON del lenguaje JavaScrip (JS)

-  Solo los diccionarios permiten salto de linea

In [ ]:
alumno ={"nombre" : "José"}
print(alumno)
print(alumno["nombre"])
alumno= {"nombre": "José", "nc":"2129229292", "edad":18}
print("Edad del alumno =", alumno["edad"])
print("nombre del alumno =", alumno["nombre"].upper()) # le puedo mandar a pedir cualquier caracteristica de los string
print(alumno)

print("alumno2:")
alumno2 = dict() #{}
alumno2["nombre"] = "José"
alumno2["nc"] = "2129229292"
alumno2["edad"]=18
print(alumno2)

alumno2["edad"] =alumno2["edad"] + 1
print(alumno2)

{'nombre': 'José'}
José
Edad del alumno = 18
nombre del alumno = JOSÉ
{'nombre': 'José', 'nc': '2129229292', 'edad': 18}
alumno2:
{'nombre': 'José', 'nc': '2129229292', 'edad': 18}
{'nombre': 'José', 'nc': '2129229292', 'edad': 19}

In [ ]:
cliente = { "id":"CT2121" , 
           "nombre" :"José Pedroza Rosales" ,
           "Telefonos" : "casa=55445665 cel=0445567767"}
print(cliente)
cliente = { "id":"CT2121" , 
           "nombre" : {
               "nombres" : ["José", "Eduardo"],
               "paterno" : "Pedroza",
               "materno" : "Rosales"
           },
           "Telefonos": {
               "Casa"  : "5566324234",
               "Trabajo" : "554433232",
               "celular" : "04455234234"
           },
           "productos": {
               "ahorro" : {"numero_cuenta" : "7788", "ahorro" : 2500.5 },
               "tarjetas":[
                           {"tipo": "debito", "saldo": 10000.5},
                           {"tipo": "Credito preferente" , "limite" : 250000.5},
                           {"tipo": "lite", "limite": 15000.5}
                          ]
           },
           "direccion": {
               "calle": "Av.central",
               "numero": 1245,
               "colonia": "impulsora",
               "delegacion": "neza",
               "estado": {
                   "clave": 15,
                   "nombre_corto": "EdoMex",
                   "nombre": "Estado de México"
               }
           }
          }
print(cliente["Telefonos"]["Casa"]) #llave seria telefonos y valor es el numero 
print(cliente)
print(cliente["productos"]["ahorro"]["ahorro"])
print(cliente["productos"]["tarjetas"][2]["limite"]) #usamos 2por que es una lista y no un diccionario
print(cliente["direccion"]["estado"]["nombre"].upper())
cliente["productos"]["ahorro"]["ahorro"]-=1500.0
print(cliente["productos"])

{'id': 'CT2121', 'nombre': 'José Pedroza Rosales', 'Telefonos': 'casa=55445665 cel=0445567767'}
5566324234
{'id': 'CT2121', 'nombre': {'nombres': ['José', 'Eduardo'], 'paterno': 'Pedroza', 'materno': 'Rosales'}, 'Telefonos': {'Casa': '5566324234', 'Trabajo': '554433232', 'celular': '04455234234'}, 'productos': {'ahorro': {'numero_cuenta': '7788', 'ahorro': 2500.5}, 'tarjetas': [{'tipo': 'debito', 'saldo': 10000.5}, {'tipo': 'Credito preferente', 'limite': 250000.5}, {'tipo': 'lite', 'limite': 15000.5}]}, 'direccion': {'calle': 'Av.central', 'numero': 1245, 'colonia': 'impulsora', 'delegacion': 'neza', 'estado': {'clave': 15, 'nombre_corto': 'EdoMex', 'nombre': 'Estado de México'}}}
2500.5
15000.5
ESTADO DE MÉXICO
{'ahorro': {'numero_cuenta': '7788', 'ahorro': 1000.5}, 'tarjetas': [{'tipo': 'debito', 'saldo': 10000.5}, {'tipo': 'Credito preferente', 'limite': 250000.5}, {'tipo': 'lite', 'limite': 15000.5}]}

In [ ]:
#Diccionario de una pelicula
pelicula= { "nombre de la pelicula": "Shrek",
            "peliculas": {
                "shrek 1": {"año de salida": "2001"},
                "shrek 2": {"año de salida": "2004"},
                "shrek 3": {"año de salida": "2007"},
                "shrek 4": {"año de salida": "2010"}, 
            },
            "personajes":{
                "protagonista": ["shrek", "burro"],
                "secundarios": ["fiona", "Lord Farquaad"]
            },
            "presupuesto":{
               "shrek 1": {"conto con": "60.00 mil dolares",
                           "recaudo":"484.00 mil dolares"
                           }
               "shrek 2": {"conto con": "150.00 mil dolares",
                          "recaudo":"954.00 mil dolares"
                           }
               "shrek 3": {"conto con": "160.00 mil dolares",
                          "recaudo":"798.00 mil dolares"
                           }
               "shrek 4": {"conto con": "165.00 mil dolares",
                           "recaudo":"752.00 mil dolares"
                           }
            },
            "Duración":{
                "shrek 1":"1 hora con 30 minutos",
                "shrek 2":"1 hora con 33 minutos",
                "shrek 3":"1 hora con 33 minutos",
                "shrek 4":"1 hora con 33 minutos"
            },
            "Director":{
                "shrek 1":"Andrew Adamson y Vicky Jenson",
                "shrek 2":"Andrew Adamson,Kelly Asbury y Conrad Vernon",
                "shrek 3":"Chris Miller",
                "shrek 4":"Mike Mitchell"
}
print(pelicula)

{'nombre de la pelicula': 'Shrek', 'peliculas': {'shrek 1': {'año de salida': '2001'}, 'shrek 2': {'año de salida': '2004'}, 'shrek 3': {'año de salida': '2007'}, 'shrek 4': {'año de salida': '2010'}}, 'personajes': {'protagonista': ['shrek', 'burro'], 'secundarios': ['fiona', 'Lord Farquaad']}, 'presupuesto': {'shrek 1': {'conto con': '60.00 mil', 'recaudo': '484.00 mil'}}, 'Duración': {'shrek 1': '1 hora con 30 minutos', 'shrek 2': '1 hora con 33 minutos', 'shrek 3': '1 hora con 33 minutos', 'shrek 4': '1 hora con 33 minutos'}}

# Fecha: 11/11/2021

# Estructura de control de programación

Se puede crear cualquier tipo de algoritmo empleando solamente 3 estrycturas de control:
1. Secuendia:
    - La representacion de la memoria de programa (Arquitectura Vonn Newman)
2. Selección 
    - Es la estructura de control que decide si un bloque de programa se ejecuta o no se ejecuta.Tambien permite selecciona ejecuar un bloque entre un conjunto de opciones.
    En resumen tenemos: Selección simple, selección con bifurcación y selección multiple.
3. Repetición 
    - Este tip de estructura nos permite automatizar,la ejecución repetitiva de código mientras ciertas condiciones se cumplan, tenemos 3 variantes de esta estructura en todos los lenguajes de programación.
    - Desde....hasta (estructura for)
    - Haz mientras (estructura While)
    - Haz y luego validaz mientras(estructura Do-While)

# Apoyarse con el libro Estructura algoritmicas selectivas 
- Pagina 64

# Seleción simple 
  - Documentar o poner notas
   
  La estructura if
    ```
  if<CONDICION>:
   <Cuerpo del If>
    ```
**Nota** Para establecer el cuerpo de una estructura de control en python se usan los tabuladores a la izq.

En otros lenguajes de programación como java, c y c++... se usan las llaves 
 { }
```
int edad = 0;
print("dame tu edad");
scanf("%i", &edad);
if(edad <= 18){
  print("eres mayor de edad")

}
  ```

In [ ]:
edad = int(input("dame tu edad:"))
print(f"tecleaste {edad} años")

if edad >= 18:
   print("eres mayor de edad")
   print("algo")
   print("otra cosa")
print("fin del prgrama")

dame tu edad:18
tecleaste 18 años
eres mayor de edad
algo
otra cosa
fin del prgrama

In [ ]:
#programa de calificación

CAL = float(input("Dame tu calificación:")) #int entero float flotantes 
print(f"Tu calificación es: {CAL}")

if CAL > 8:
  print("Tu calificación es aprobatoria!! :)")
print("fin del programa")

Dame tu calificación:1000
Tu calificación es: 1000.0
Tu calificación es aprobatoria!! :)
fin del programa
tu sueldo es de:1000

In [ ]:
SUE = float(input("tu sueldo es de:"))# variables declaradas para poder sustituir 
AUM = 0
MSUE = 0
if SUE < 1000: # el if contiene las operaciones que haran 
    AUM = SUE* 0.15
    MSUE = SUE + AUM
    print(MSUE) #

tu sueldo es de:875.50
1006.825

# Fecha: 18/11/21

# estructura de selección con bifurcación (if-else)
Esta estructura, seleciona una de dos opciones de ejecución, se ejecuta un bloque si la condicion se cumple o se ejecuta otro bloque si la condición se cumple(else).

```
if<condicion>
    <bloque de ejecucón>
else:
    <bloque de ejecución alterno>
```

In [ ]:
edad= int(input("Dame tu edad:"))
print(f"Tecleaste {edad} años")
if edad >=18:
    print("Eres mayor de edad, ten tú cheve")
else:
    print("Eres menor de edad, ten tú Boing")
print("fin del programa")

Dame tu edad:16
Tecleaste 16 años
Eres menor de edad, ten tú Boing
fin del programa

In [ ]:
#36
edad= int(input("Dame tu edad:"))
dinero= float(input("Dame la cantidad de dinero"))
print(f"Tecleaste {edad} años")
print(f"Tecleaste {dinero} pesos")
if edad >=18 and dinero>=36:
    print("eres mayor de edad, ten tú cheve")
else:
    print("Eres menor de edad, ten tú boing")
print("Fin del programa")

Dame tu edad:18
Dame la cantidad de dinero36
Tecleaste 18 años
Tecleaste 36.0 pesos
eres mayor de edad, ten tú cheve
Fin del programa

# if anidado

In [ ]:
edad = int (input("Dame tu edad:"))
dinero = int (input("¿Cuánto dinero tienes?"))
if edad >= 18:
    if dinero >=35:
        print("Eres mayor de edad y tienes dinero, ten tu cheve")
    else:
        print("No tienes suficiente dinero")
else:
    print("Eres menor de edad, ten tu Boing")
print("Fin del programa")

Dame tu edad:16
¿Cuánto dinero tienes?36
Eres menor de edad, ten tu Boing
Fin del programa

In [ ]:
edad = int(input("Dame tu edad: "))
dinero = float(input("Cuanto dinero tienes: "))
print(f"Tecleaste {edad} años")
print(f"Tecleaste {dinero} dinero")
if edad >= 18 :
    if dinero >=36 :
        print("Ten tu cheve")
    else:
        print("tienes la edad pero no tienes dinero suficiente")
else:
    if dinero >= 36:
        print("Tienes el dinero suficiente pero no tienes la edad")
    else: 
        print("No tienes la edad ni el dinero, ve a jugar roblox a tu casa")

Dame tu edad: 16
Cuanto dinero tienes: 14
Tecleaste 16 años
Tecleaste 14.0 dinero
No tienes la edad ni el dinero, ve a jugar roblox a tu casa

El codigo anterior, se puede simplificar usando una palabra reservada especial que existe en algunos lenguajes de programacion 
### elif 
lo puedes simplificar

In [ ]:
edad = int(input("Dame tu edad: "))
dinero = float(input("Cuanto dinero tienes: "))
print(f"Tecleaste {edad} años")
print(f"Tecleaste {dinero} dinero")
if edad >= 18 :
    if dinero >=36 :
        print("Ten tu cheve")
    else:
        print("tienes la edad pero no tienes dinero suficiente")
elif dinero >= 36 :
    print("Tienes dinero suficiente pero no tienes la edad")
else:
    print("No tienes la edad ni el dinero, ve a jugar roblox a tu casa")

In [ ]:
CAL = int(input("Dame tu calificación"))
if CAL >= 8:
    print("Aprobado :)")
else: 
    print("Reprobado:(")
print("Fin del programa")

Dame tu calificación8
Aprobado :)
Fin del programa

In [ ]:
# ejemplo 2.4
SUE = float(input("Escribe el sueldo: "))
AUM = 0 
NSUE = 0

if SUE >= 1000 :
    AUM = SUE* 0.15
    NSUE = SUE + AUM
else:
    AUM= SUE*0.12
    NSUE = SUE + AUM
print(NSUE)

#segunda solucion uso de menos memoria por que usa menos variables 
SUE=float(input("dame tu sueldo: "))
if SUE<1000:
    NSUE=SUE*1.15
else:
    NSUE=SUE*1.12
print(f"Tu nuevo sueldo es:{NSUE}")

Escribe el sueldo: 999
1148.85

# Ejercicio if-else
### Hacer un programa que solicite el dia de la semana en un valor numerico entero del 1 al 7(Avisarle al usuario si proporciono un valor fuera del rango).
### Posteriormente imprimira el da de la semana correspondiente al numero capturado

1. Lunes
2. Martes
...
7. Domingo

In [ ]:
dia=int(input("Indica el dia de la semana entre el 1 y 7: "))
if dia <=7 and dia >=1:
    if dia is 1:
        print("Es Lunes por la mañana")
    elif dia is 2:
        print("Es Martes por la tarde")
    elif dia is 3:
        print("Es Miercoles un dia soleado")   
    elif dia is 4:
        print("Es Jueves y hace algo de frio, ponte un sueter")
    elif dia is 5:
        print("Es Viernes podría llover lleva paraguas")
    elif dia is 6:
        print("Es Sabado a relajarse con algo de tarea")
    elif dia is 7:
        print("Es Domingo no olvides el examen de calculo!")
else:
    print("El numero que diste no es valido, profavor intenta de nuevo, Recuerda que debe ser un numeo del 1-7")
print("Fin del programa")

Indica el dia de la semana entre el 1 y 7: 0
El numero que diste no es valido, profavor intenta de nuevo, Recuerda que debe ser un numeo del 1-7
Fin del programa

- El programa de arriba utiliza elif para evitar hacer el codigo mas largo
- En cambio el codigo de abajo utiliza la forma   larga de escribir el codigo

In [ ]:
dia=int(input("Indica el dia de la semana entre el 1 y 7: "))
print(f"camturaste el numero {dia}")

if dia >=1 and dia <=7:
    if dia ==1:
        print("Lunes")
    else:
        if dia ==2:
            print("Martes")
        else:
            if dia ==3:
                print("Miercoles")
            else:
                if dia ==4:
                    print("Jueves")
                else:
                    if dia ==5:
                        print("Viernes")
                    else:
                        if dia ==6:
                            print("Sabado")
                        else:
                             print("Domingo")
else:
    print("Ese número no esta dentro del rango solicitado")

Indica el dia de la semana entre el 1 y 7: -1
camturaste el numero -1
Ese número no esta dentro del rango solicitado

El codigo ejecuta todas las comparaciones y es ineficiente, ya que no descarta al faltar else

In [ ]:
dia=int(input("Indica el dia de la semana entre el 1 y 7: "))
print(f"camturaste el numero {dia}")

if dia >=1 and dia <=7:
    if dia ==1:
        print("Lunes")
    if dia ==2:
            print("Martes") 
else:
    print("Ese número no esta dentro del rango solicitado")

Indica el dia de la semana entre el 1 y 7: 2
camturaste el numero 2
Martes

###Tarea 1
# Hacer un programa que pida dos numeros enteros y que imprima en pantalla lo siguiente

1. Cual de ellos es el numero mayor
2. Cual de ellos es el numero menor
o en su defecto 
3. imprimir que los valores son iguales

###Tarea 2
#Hacer un programa que solicite 3 numeros enteros diferentes entre sí y que imprima cual de los tres es el mayor.

###Tarea 3 
#Hacer un programa que solicite 3 numeros enteros diferentes entre sí y que imprima cual de los tres es el menor.
*******

###Tarea 4
#Hacer un programa que solicite 4 numeros enteros diferentes entre si e imprima cual de ellos es el menor y cual de ellos es el menor.

# Estructura de selección multiple (switch)
En python no existe la estructura de seleeción (switch), en su lugar se emplea la palabra reservada:
## elif <condicion>:

Por ejemplo en el lenguaje C y Java seria dela forma:
```

```

T moral de la pagina 66 75 en pdf

In [ ]:
# Ejemplo 2.7
NUM = int(input("dame un número entre 1 y 3: "))
V= float(input("Dame un valor float:"))
VAL = 0
if NUM ==1:
    VAL =100* V
elif NUM ==2:
    VAL = 100 ** V
elif NUM==3:
    VAL=100/V
else: 
    VAL = 0
print(VAL)

dame un número entre 1 y 3: 1
Dame un valor float:15
1500.0